body{align:center;margin:0;padding:0;background-size: 100%;background:#ffe;font-size:20px;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto}
a {align:center;color:#231F20;font-size:20px;}
h2 {align:center;font-size:35;font-family:'微软雅黑';}
h1 {font-size:40;font-family:'微软雅黑';}
form{font-size:20;font-family:'微软雅黑';}
p {font-size:20;font-family:'微软雅黑';}